[

 ;; Medication Partition
 {:db/id #db/id[:db.part/db]
  :db/ident :medication
  :db.install/_partition :db.part/db}

 ;; Medication Identifying Information
 {:db/id #db/id[:db.part/db]
  :db/ident :medication/commonName
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A Medication's Common Name"
  :db.install/_attribute :db.part/db}

 ;; These should probably not be strings.
 {:db/id #db/id[:db.part/db]
  :db/ident :medication/additionalNames
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A Medication's Common Name"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :medication/classes
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A Medication's Common Name"
  :db.install/_attribute :db.part/db}

]
